@keyframes superSexyCoinFlip{
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(180deg);
    }
    to {
        transform: rotateX(360deg);
    }
}
img {
    width: 60px;
    height: 50px;
    border: 10px solid white;
    border-radius: 50%;
    animation: superSexyCoinFlip 5s ease-in;
}
